# Xcode user-specific state
xcuserdata/
*.xcuserstate

# Build artifacts
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
